%button
{
    color: #fff;
    padding: 10px 30px;
    transition: all .5s ease-in-out;
    display: block;
    font-weight: bold;
    font-size: 15px;
    &:hover 
    {
        background-color: #000;
        color: #fff;
    }
}











